.background {
  padding-top: 80px;
  color: $grayFont;
  background: $mainColor;
  width: 400px;
  height: 100vh;

  img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }
}

.active {
  color: $mainColor !important;

  & .navbar-link {
    background: $white;

    & .noIcon {
      display: block;
    }

    & .icon {
      display: none;
    }
  }
}

.link {
  color: $white;

  &:hover {
    color: $mainColor;
  }
}

.navbar-link {
  padding: 20px;
  align-items: center;

  &:hover {
    background: $white;

    & .noIcon {
      display: block;
    }

    & .icon {
      display: none;
    }
  }
}

.noIcon {
  display: none;
}
